IP_KERNEL=127.0.0.1
PUERTO_KERNEL=8002
IP_CPU=127.0.0.1
PUERTO_ESCUCHA_DISPATCH=8001
PUERTO_ESCUCHA_INTERRUPT=8005
PUERTO_ESCUCHA=8000
ALGORITMO_PLANIFICACION=FIFO
ESTIMACION_INICIAL=1000
ALFA=0.5
GRADO_MULTIPROGRAMACION=4
TIEMPO_MAXIMO_BLOQUEADO=10000[INFO] 20:30:33:779 Consola/(9379:9379): Consola iniciada
[INFO] 20:30:50:740 Consola/(9438:9438): Consola iniciada
[INFO] 20:31:05:666 Consola/(9523:9523): Consola iniciada
